#
#
# This file is not to be run directly, but used by refbot.py
# Rename it to botplugin.py to be used by refbot.py
# Add/modify code in the this file to add appropriate
# functionality
#

def botplugin_log( logline ):
  print "botplugin_log: %s" % ( logline );

def pre_add( argsdict ):
  log = botplugin_log;
  if( argsdict.has_key( "log_function" )):
    log = argsdict[ "log_function" ];
  log("DEBUG: botplugin.pre_add() here" );
  return None;

def post_add( argsdict ):
  log = botplugin_log;
  if( argsdict.has_key( "log_function" )):
    log = argsdict[ "log_function" ];
  log("DEBUG: botplugin.post_add() here" );
  return None;
